@import url("./../fonts/vazirmatn/misc/Farsi-Digits/Vazirmatn-FD-font-face.css");


@font-face {
    font-family: IRANSans;
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/Iranian Sans.otf'),
    url('../fonts/Iranian Sans.woff2') format('woff2'), /* Chrome36+, Opera24+*/
    url('../fonts/Iranian Sans.woff') format('woff'), /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/Iranian Sans.ttf') format('truetype');
}

@font-face {
    font-family: Vazir;
    src: url("../../src/fonts/Vazir.ttf");

    font-weight: normal;

    font-style: normal;

}


@font-face {
    font-family: 'Vazirmatn RD';
    src: url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
    url('https://cdn.jsdelivr.net/gh/rastikerdar/vazirmatn@v33.003/Round-Dots/fonts/webfonts/Vazirmatn-RD[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}



.font-vazirmatn-10{
    font-family: "Vazirmatn FD";
    font-size: 15px;
}

.font-vazir-10{
    font-family: "vazir";
    font-size: 10px;
}


.font-vazir-12{
    font-family: "vazir";
    font-size: 12px;
}

.font-vazir-13{
    font-family: "vazir";
    font-size: 13px;
}

.font-vazir-14{
    font-family: "vazir";
    font-size: 14px;
}

.font-vazir-15{
    font-family: "vazir";
    font-size: 15px;
}
.font-vazir-16{
    font-family: "vazir";
    font-size: 16px;
}


-----IRANSans------

.font-iran-Sans-10{
    font-family: "IRANSans";
    font-size: 10px;
}


.font-iran-Sans-12{
    font-family: "IRANSans";
    font-size: 12px;
}

.font-iran-Sans-13{
    font-family: "IRANSans";
    font-size: 13px;
}

.font-iran-Sans-14{
    font-family: "IRANSans";
    font-size: 14px;
}

.font-iran-Sans-15{
    font-family: "IRANSans";
    font-size: 15px;
}
.font-iran-Sans-16{
    font-family: "IRANSans";
    font-size: 16px;
}

.sample_farsi_digits {
    font-feature-settings: "ss01";
}


